<footer class="uk-background-primary uk-flex uk-flex-between uk-flex-middle">
    <ul class="uk-width-1-6 uk-flex uk-flex-middle uk-flex-around uk-height-1-1 uk-margin-remove uk-padding-remove">
        <li><a class="icon" href="https://www.instagram.com/voca_a_voca/" uk-icon="instagram"></a></li>
        <li><a class="icon" href="https://www.facebook.com/voca_a_voca-102270051588293" uk-icon="facebook"></a></li>
        <li><a class="icon" href="https://twitter.com/santii_ruizz" uk-icon="twitter"></a></li>
    </ul>
    <ul class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-between uk-height-1-1 uk-margin-remove uk-padding-remove">
        <li>Santiago Ruiz</li>
        <li>Micaela Salas</li>
    </ul>
</footer>