 <%- include('./partials/head') %> 

 <body>
    <%- include('./partials/headerLogueado') %> 

	
	<div class="main-w3layouts wrapper">
		<h1>Editar Perfil</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/users/profile" method="GET">
					<input class="text" type="text" name="nombre" placeholder="Name" required="">
					<br>
					<input class="text" type="text" name="apellido" placeholder="Surname" required="">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
          <input class="date" type="date" name="date" placeholder="" required="">

					<div class="wthree-text">
					</div>
					<input type="submit" value="Guardar Cambios">
			</div>
		</div>
	</div>
    </main>

    <%- include('./partials/footer') %> 
</body>

</html>