<%- include('./partials/head') %> 
    
    <body>
    <%- include("./partials/headerDeslogueado") %> 

   
            <div class="main-w3layouts wrapper">
                <h1>Iniciar Sesión</h1>
                <div class="main-agileinfo">
                    <div class="agileits-top">
                    <form action = "/users/login" method="POST">
                        <input class="text email" type="mail" name="mail" placeholder="Mail" required="">
                        <input class="text" type="password" name="password" placeholder="Contraseña" required="">
                        <div class="wthree-text">
                            <div class="clear"> </div>
                        </div>
                        <input type="submit" value="Login">
                    </form>
                    <p>No tenés cuenta? <a href="/users/register">Registrarse</a></p>
                </form>
            </div>
        </div>
    </main>

    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

    <%- include('./partials/footer') %> 

</body>

</html>