<%- include('./partials/head') %> 

<body>
    <%- include("./partials/headerDeslogueado") %> 


	<div class="main-w3layouts wrapper">
		<h1>Registrarse</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/" method="GET">
					<p>Nombre<input class="text" type="text" name="nombre" placeholder="nombre" ></p>
					<br>
					<p>Apellido<input class="text" type="text" name="apellido" placeholder="apellido" ></p>
					<p class="text2"> Email<input class="text email" type="email" name="email" placeholder="Email" ></p>
					<p>Contraseña<input class="text" type="password" name="password" placeholder="Password" ></p>
					<p class="text2">Conformar Contraseña <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" ></p>
					<p>Fecha <input class="date" type="date" name="email" placeholder="" ></p>

					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" >
							<span>Acepto los terminos y condiciones</span>
						</label>
					</div>
					<input type="submit" value="Registrarse">
				</form>
				<p>Ya tenes cuenta? <a href="/users/login"> Iniciar Sesión</a></p>
			</div>
		</div>
	</div>

    <%- include('./partials/footer') %> 


</body>

</html>