<%- include('./partials/head') %> 

<body>
    <%- include("./partials/headerDeslogueado") %> 


	<div class="main-w3layouts wrapper">
		<h1>Registrarse</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/" method="GET">
					<input class="text w3lpass" type="text" name="nombre" placeholder="Name" required="">
					
					<input class="text2 text w3lpass" type="text" name="apellido" placeholder="Surname" required="">
					<input class="text2 text w3lpass " type="email" name="email" placeholder="Email"required="" >
					<input class="text w3lpass" type="password" name="password" placeholder="Password" required="">
					<input class=" text2 text w3lpass" type="password" name="Contraseña" placeholder="Confirm Password" required="">
					<input class="text2 date" type="date" name="Email" placeholder=""required="" ></p>

					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="" >
							<span>Acepto los términos y condiciones</span>
						</label>
					</div>
					<input type="submit" value="Registrarse">
				</form>
				<p>Ya tenés cuenta? <a href="/users/login"> Iniciar sesión</a></p>
			</div>
		</div>
	</div>

    <%- include('./partials/footer') %> 


</body>

</html>