<%- include('./partials/head') %> 

<body>
    <%- include("./partials/headerDeslogueado") %> 


	<div class="main-w3layouts wrapper">
		<h1>Registrarse</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" method="post">
					<input class="text" type="text" name="nombre" placeholder="nombre" required="">
					<br>
					<input class="text" type="text" name="apellido" placeholder="apellido" required="">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
          <input class="date" type="date" name="email" placeholder="" required="">

					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>Acepto los terminos y condiciones</span>
						</label>
					</div>
					<input type="submit" value="Registrarse">
				</form>
				<p>Ya tenes cuenta? <a href="#"> Iniciar Sesión</a></p>
			</div>
		</div>
	</div>

    <%- include('./partials/footer') %> 


</body>

</html>