<%- include('./partials/head') %> 

<body>
    <%- include("./partials/headerDeslogueado") %> 


	<div class="main-w3layouts wrapper">
		<h1>Registrarse</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/users/register" method="POST">
					<input class="text w3lpass" type="text" name="name" placeholder="nombre" required="">
					<input class="text2 text w3lpass" type="text" name="last_name" placeholder="Apelllido" required="">
					<input class="text2 text w3lpass " type="mail" name="mail" placeholder="Mail"required="" >
					<input class="text w3lpass" type="password" name="password" placeholder="Contraseña" required="">
					<input class="text2 date" type="date" name="birthday" placeholder="Fecha de nacimiento"required="" ></p>
					<br>
					<input class="text2 date" type="tel" name="phone" placeholder="Telefono" required="" ></p>
					<!--<input class="text2 date" type="file" name="img" placeholder="Foto de perfil"required="" ></p> -->


					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="" >
							<span>Acepto los términos y condiciones</span>
						</label>
					</div>
					<input type="submit" value="Registrarse">
				</form>
				<p>Ya tenés cuenta? <a href="/users/login"> Iniciar sesión</a></p>
			</div>
		</div>
	</div>

    <%- include('./partials/footer') %> 


</body>

</html>